<!--footer-->

<footer class="footer">
  <div class="container">
    <div class="row py-4 px-2 text-dark text-center text-sm-left">
    
      <div class="col-sm-6 col-md-3">
        <h5 class="text-dark">CONTACTANOS</h5>
        <ul class="list-unstyled">
          <li><a class="text-decoration-none" href="#">hello@iessencelles.es</a></li>
          <li><a class="text-decoration-none" href="#">events@iessencelles.es</a></li>
        </ul>
      </div>
  
      <div class="col-sm-6 col-md-3">
        <h5 class="text-dark">LOCALIZACION</h5>
        <ul class="list-unstyled">
          <li class="small">IES Sencelles</li>
          <li class="small">España, Islas Baleares, Sencelles</li>
        </ul>
      </div>
  
      <div class="col-sm-6 col-md-3">
        <h5 class="text-dark">MATRICULA</h5>
        <ul class="list-unstyled">
          <li class="small">Matriculate<a class="text-decoration-none enlace" href="/instituto/html/matricula.php"> aquí</a></li>
        </ul>
      </div>
  
      <div class="col-sm-6 col-md-3">
        <h5 class="text-dark">REDES SOCIALES</h5>
        <ul class="list-unstyled">
          <li><a class="text-dark text-decoration-none" href="#"><i class="fab fa-instagram"></i>&nbsp;&nbsp;Instagram</a></li>
          <li><a class="text-dark text-decoration-none" href="#"><i class="fab fa-facebook"></i>&nbsp;&nbsp;Facebook</a></li>
          <li><a class="text-dark text-decoration-none" href="#"><i class="fab fa-twitter"></i>&nbsp;&nbsp;Twitter</a></li>
        </ul>
      </div>
  
    </div>
  </div>
</footer>